* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url("images/patt.png");
}

.container {
	width:1170px;
	margin:0 auto;
}

.row:after, .menu:after, .submenu:after, .navigation:after, .goods:after {
	content:"";
	display: block;
	clear:both;
}

[class*="col-"] {
	float:left;
}

.col-md-3 {
	width: 25%;
}

.col-md-6 {
	width:50%;
}


.col-md-9 {
	width:75%;
}

.header {
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0px;
}

.logo {
	padding-top: 10px;
	margin-left: -30px;
}
.menu li {
	float: left;
	height: 50px;
	width:25%;
	border-left: 1px solid #2c71b8;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}

.menu li:hover a {
	background-color: #2c71b8;
	color:white;
}
.menu a {
	display: block;
	height: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color:#2c71b8;
}

.search-form {
	width: 77%;
	margin-left: 30px;
}

.search-line {
	width: 200px;
	margin-left: 20px;
}

.search-line {
	width: 90%;
	float:left;
	margin: 5px 10px;
	height: 40px;
	border: 1px solid #2c71b8;
	background: none;
	padding-left: 10px;
}

input::-webkit-input-placeholder { color: #2c71b8; padding-left: 15px; font-size:15px;}


.search-button {
	float:left;
	border:none;
	height: 30px;
	width: 30px;
	background-color: #2c71b8;
	background-image: url("images/icon (4).png");
	background-repeat: no-repeat;
	background-position: center;
	display:block;
	margin-left:176px;
	margin-top:-40px;
}


.bin {
	float:right;
	height: 40px;
	width: 40px;
	background-color: white;
	background-image: url("images/icon (1).png");
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -45px;
	margin-right:-20px;

}

.counter {
	background-color: #2c71b8;
	color:white;
	font-weight: bold;
	font-size: 13px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 100px;
	float:right;
	margin-top: -50px;
	margin-right: 10px;

}

.submenu-down {
	position: relative;
}

.submenu {
	display: none;
	position: absolute;
}

.submenu-down:hover .submenu {
	display:block;
}

.submenu li {
	height: 40px;
	width:293.5px;
	margin-left: -1px;
	background-color: #2c71b8;
}

.submenu a {
	line-height: 40px;
	height: 40px;
	text-align: left;
	padding-left:42px;
	color: white;
}

.submenu > li> a:hover {
	color:#2c71b8;
	background-color: white;
}

.submenu li:first-child {
	padding-top:20px;
	height: 60px;
}


.slider {
	height: 400px;
}

.sidebar {
	background-color: rgba(255,255,255,0.25);
	color:white;
	font-size: 15px;
	padding:30px;
	margin-right: 30px;
	margin-left: -30px;
	width:270px;
	height: 840px;
}


.navigator {
	width: 600px;
	float:left;
	padding-top: 30px;
}

.navigator a{
	text-decoration: none;
	color:rgba(255,255,255,0.45);
}

.goods-title {
	color:white;
	font-size: 40px;
	font-weight: bold;
}

.select-form {
	width:270px;
	height: 30px;
	border: 1px solid white;
	background-color: #2c71b8;
	float:right;
	margin-top: 37px;
	margin-right: 7px;
}

.goods {
	margin-top:30px;
}

.goods-item {
	float:left;
	margin-right:30px;
	height: 650px;
	width: 270px;
	background-color: rgba(255,255,255,0.05);
	border: 1px solid white;
}

.goods-item:last-child {
	margin-right:0px;
}

.goods-image {
	height: 180px;
	line-height: 180px;
	border-bottom: 1px solid white;
	background-color: rgba(255,255,255,0.75);
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
}

.goods-image img {
	vertical-align: middle;
}

.first-item {
	background-image: url("images/icon (17).png");
}

.second-item {
	background-image: url("images/icon (11).png");
}

.third-item {
	background-image: url("images/icon (13).png");
}

.fourth-item {
	background-image: url("images/icon (16).png");
}

.fifth-item {
	background-image: url("images/icon (14).png");
}

.sixth-item {
	background-image: url("images/icon (12).png");
}

.seventh-item {
	background-image: url("images/icon (15).png");
}

.image-items {
	float:right;
}

.scale-item {
	width: 30px;
	height: 30px;
	border: 1px solid #2c71b8;
	margin: 10px;
	background-image: url("images/icon (8).png");
	background-position: center;
	background-repeat: no-repeat;
}

.scale-item:hover {
	background-color: #2c71b8;
	background-image: url("images/icon (6).png");
	background-position: center;
	background-repeat: no-repeat;;
}

.like-item {
	width: 30px;
	height: 30px;
	border: 1px solid #2c71b8;
	margin:10px;
	background-image: url("images/icon (5).png");
	background-position: center;
	background-repeat: no-repeat;
}

.like-item:hover {
	background-color: #2c71b8;
	background-image: url("images/icon (7).png");
	background-position: center;
	background-repeat: no-repeat;;
}

.goods-info div{
	padding:11px 10px 0px 10px;
}

.device-name {
	color: white;
	font-weight: bold;
	font-size:30px;
	margin-left: 5px;
}

[class*="device-description"] {
	color:white;
	font-size:20px;
	margin-left: 5px;

}

.device-description {
	line-height: 24px;
}


.device-description-short span {
	font-weight: bold;
	padding-top:20px;
	line-height: 31px;
}

.device-description-price-big {
	font-size:50px;
	font-weight: bold;
	float:left;
}
.device-description-price-small {
	float: left;
	font-size:30px;
	font-weight: bold;
}

[class*="goods-button-"] {
	width: 207px;
	height: 50px;
	margin:10px;
}

