.menu {
	font-family: "Roboto",sans-serif;
}

.menu::after {
	content: "";
	clear:both;
	display:block;
}

.logo {
	margin-left: 180px;
	margin-right: 100px;
}
.menu li {
	float:left;
	padding:20px;
	list-style-type: none;
}

.menu a {
	display:block;
	text-decoration: none;
	text-align: center;
	color:#2c71b8;
	border-right: 1px solid #2c71b8;
	height: 40px;
	line-height: 40px;
	padding: 0px 10px;
	width:100px;
	margin:0px -20px;
}

.left-border {
	border-left: 1px solid #2c71b8;
}

.search-form {
	display: block;
	border:1px solid #2c71b8;
	height:25px;
	margin: 6px 0px 0px 20px;
	color:blue;
}

.search-icon {
	border:none;
	background-color: #2c71b8;
	width:20px;
	height: 20px;
	background-image: url("images/icon (4).png");
	background-repeat: no-repeat;
	background-position: center;
}

input::-webkit-input-placeholder { color: #2c71b8; padding-left: 15px; }
